/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



/******************
** GLOBAL STYLES
******************/



/*
** FONTS
*/


/*OpenSans*/
@font-face{    
  font-family: 'OpenSans Regular';
  src: url('../resources/font/opensans/opensans_regular.ttf') format('truetype'); 
}
@font-face{    
  font-family: 'OpenSans Bold';
  src: url('../resources/font/opensans/opensans_bold.ttf') format('truetype'); 
}
@font-face{    
  font-family: 'OpenSans Bold Italic';
  src: url('../resources/font/opensans/opensans_bold_italic.ttf') format('truetype'); 
}
@font-face{    
  font-family: 'OpenSans Extra Bold';
  src: url('../resources/font/opensans/opensans_extra_bold.ttf') format('truetype'); 
}
@font-face{    
  font-family: 'OpenSans Extra Bold Italic';
  src: url('../resources/font/opensans/opensans_extra_bold_italic.ttf') format('truetype'); 
}
@font-face{    
  font-family: 'OpenSans Italic';
  src: url('../resources/font/opensans/opensans_italic.ttf') format('truetype'); 
}
@font-face{    
  font-family: 'OpenSans Light';
  src: url('../resources/font/opensans/opensans_light.ttf') format('truetype'); 
}
@font-face{    
  font-family: 'OpenSans Light Italic';
  src: url('../resources/font/opensans/opensans_light_italic.ttf') format('truetype'); 
}
@font-face{    
  font-family: 'OpenSans Semi Bold';
  src: url('../resources/font/opensans/opensans_semibold.ttf') format('truetype'); 
}
@font-face{    
  font-family: 'OpenSans Semi Bold Italic';
  src: url('../resources/font/opensans/opensans_semibold_italic.ttf') format('truetype'); 
}

/*OpenSans Condensed*/
@font-face{    
  font-family: 'OpenSans Condensed Bold';
  src: url('../resources/font/opensans_condensed/opensans_condensed_bold.ttf') format('truetype'); 
}
@font-face{    
  font-family: 'OpenSans Condensed Light';
  src: url('../resources/font/opensans_condensed/opensans_condensed_light.ttf') format('truetype'); 
}
@font-face{    
  font-family: 'OpenSans Condensed Light Italic';
  src: url('../resources/font/opensans_condensed/opensans_condensed_light_italic.ttf') format('truetype'); 
}





/*QuickSand*/
@font-face{    
  font-family: 'QuickSand';
  src: url('../resources/font/quicksand/quicksand_regular.otf') format('truetype'); 
}
@font-face{    
  font-family: 'QuickSand Italic';
  src: url('../resources/font/quicksand/quicksand_italic.otf') format('truetype'); 
}
@font-face{    
  font-family: 'QuickSand Bold';
  src: url('../resources/font/quicksand/quicksand_bold.otf') format('truetype'); 
}
@font-face{    
  font-family: 'QuickSand BoldItalic';
  src: url('../resources/font/quicksand/quicksand_bolditalic.otf') format('truetype'); 
}
@font-face{    
  font-family: 'QuickSand Light';
  src: url('../resources/font/quicksand/quicksand_light.otf') format('truetype'); 
}
@font-face{    
  font-family: 'QuickSand LightItalic';
  src: url('../resources/font/quicksand/quicksand_lightitalic.otf') format('truetype'); 
}
@font-face{    
  font-family: 'QuickSand Dashed';
  src: url('../resources/font/quicksand/quicksand_dash.otf') format('truetype'); 
}






/*Icons - Entypo*/
@font-face{    
  font-family: 'Entypo';
  src: url('../resources/font/icons/entypo/entypo.ttf') format('truetype'); 
}

/*Icons - Entypo*/
@font-face{    
  font-family: 'Entypo Social';
  src: url('../resources/font/icons/entypo_social/entypo_social.ttf') format('truetype'); 
}



body{
    font-family: 'QuickSand', sans-serif;
}

.icon-entypo{
  font-family: 'Entypo', sans-serif;
}






/*div*/
.wrapper-page{
    width:90%;
    margin:0 auto;
    min-width: 1280px;
}


header, section, footer{
    float:left;
    clear:both;
    width:100%;
    padding:2em 0;
}

/*section colors */
header{ 	
	background: #222222;
	border-bottom: 1px solid #999;
}

#wrapper-plots, #wrapper-feed  { background: #222222;}


  











/*form*/
.form-general{
    float:left;
    width:100%;
    clear:both;
}
    .form-general fieldset{
        float:left;
        width:100%;
    }

    .form-general legend{
        float:left;
        margin:0 0 0 1em;
    }

    .form-general ul{
        float:left;
        width:96%;
        margin:0 0 0 4%;
    }

            .form-general label{
                width: 36%;
                text-align: right;
                padding:0 2%;
            }

            .form-general label.fieldlabel::after{
                content: " :";
            }

            .form-general input[type=text]{
                width:54%;
                padding:0.5em 3%;
            }



/*ul*/
.list-general{
    list-style: none;
    padding:1em 0;
}

    .list-general li{
        float:left;
        clear:both;
        width:100%;
    }




/******************
** MODULE: header;
******************/


h1{
    width:100%;
    text-align: center;
    margin:0;
    padding:0;
}





/******************
** MODULE: plots;
******************/

/*figure*/
.wrapper-plot{
  float:left;
  width:100%;

}

.wrapper-plot p{
	float: left;
	width: 90%;
	padding: 0 5%;
}

.pict-plot{
  float:left;
  margin:5% 5% 0 9%;
}

.pict-plot img{
	border: 1px solid #609FDB;
}

#text-plot{
	float: left;
	width: 60%;
	padding: 20px 0 0 0;
	color: #FFF;
}

#chart-plot{
	float: left;
	width: 25%;
}







/******************
** MODULE: progress;
******************/

/*div*/
.progress{
    width:200px;
    height:2em;
    float:left;
    position:relative;
    background:#bfbfbf;
}
    
    /*span*/
    .progress .bar{
        position:absolute;
        top:0;
        left:0;
        width:20%;
        height:2em;
        display:block;
        margin:0;
        padding:0;
        background: rgba(0, 0, 240, 0.5);
    }






/******************
** MODULE: feed;
******************/
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


#filters{
  font-size:0.75em;
}

/* ---- button ---- */

.button {
  display: inline-block;
  padding: 0.5em 1.0em;
  background: #EEE;
  border: none;
  border-radius: 7px;
  background-image: linear-gradient( to bottom, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.2) );
  color: #222;
  font-family: sans-serif;
  /*font-size: 16px;*/
  text-shadow: 0 1px white;
  cursor: pointer;
}

.button:hover {
  background-color: #8CF;
  text-shadow: 0 1px hsla(0, 0%, 100%, 0.5);
  color: #222;
}

.button:active,
.button.is-checked {
  background-color: #28F;
}

.button.is-checked {
  color: white;
  text-shadow: 0 -1px hsla(0, 0%, 0%, 0.8);
}

.button:active {
  box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.8);
}

/* ---- button-group ---- */

.button-group:after {
  content: '';
  display: block;
  clear: both;
}

.button-group .button {
  float: left;
  border-radius: 0;
  margin-left: 0;
  margin-right: 1px;
}

.button-group .button:first-child { border-radius: 0.5em 0 0 0.5em; }
.button-group .button:last-child { border-radius: 0 0.5em 0.5em 0; }

/* ---- isotope ---- */

.feed {
  border: 1px solid #333;
}

/* clear fix */
.feed:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .element-item ---- */

.element-feed {
  position: relative;
  float: left;
  width: 200px;
  height: 200px;
  margin: 5px;
  padding: 10px;
  /*background: #888;*/
  color: #262524;
  background: url('../img/icon_bug.png');
  background-position:right, top;
  background-repeat: no-repeat;
}

/*.element-feed.width2 { 
  width: 400px; 


}
.element-feed.width3 { height: 400px; }*/

.element-feed > * {
  margin: 0;
  padding: 0;
}

.element-feed p{
    float:left;
    clear:both;
    
}


.element-feed .tags {
  font-size: 1.5em;
  font-family: 'OpenSans Light', sans-serif;
  text-align: center;
  width:100%;
  margin:0.5em 0 0 0;
}


.element-feed .text {
  text-align:center;
  text-transform: none;
  font-size:0.75em;
  margin:0.75em 0 0 0;
  width:100%;
  font-family: 'OpenSans Light', sans-serif;
}

    .element-feed .text::before, 
    .element-feed .text::after{
        content : "\"";
    }

.element-feed .author{
    text-align: center;
    width:100%;
    font-family: 'OpenSans Light', sans-serif;
    font-size:0.75em;
    margin:0.75em 0 0 0;
}


.element-feed .sentiment {
  font-family: 'Entypo', sans-serif;
  font-size:2em;
  position:absolute;
  top:3px;
  right: 3px;
  background:#bfbfbf;
  border-radius: 15px;
  padding:0 0.15em;
  line-height: 0.75em;
}

.element-feed .retweet {
  position: absolute;
  left: 5px;
  bottom: 3px;
  font-size: 0.75em;
}

    .retweet::before{
        content:"\E717";
        font-family: 'Entypo', sans-serif;
        font-size:2em;
        position:relative;
        top:2px;
    }

.element-feed .favorite {
  position: absolute;
  right: 5px;
  bottom: 3px;
  font-size: 0.75em;
}


    .favorite::before{
        content:"\2605";
        font-family: 'Entypo', sans-serif;
        font-size:2em;
        position:relative;
        top:1px;
    }


.element-feed .media{
    width:100%;
    float:left;
    clear:both;
    margin:2em 0 0 0;
}

    .element-feed .media img{
        margin: 0 0.8em; 
    }

    .element-feed .media figcaption{
        font-family: 'OpenSans Light Italic', sans-serif;
        font-size: 0.75em;
        color:#999;
        text-align:center;
    }

    /*.element-feed p{
      display:none;

      -webkit-transition: all 0.3s ease-out; 
              transition: all 0.3s ease-out; 

    }

    .element-feed:hover p{
      display:block;
      cursor:pointer;
    }*/

.element-feed.hacking         { background-color: rgba(167, 141, 175, 1.0); }
.element-feed.malware         { background-color: rgba(91, 188, 183, 1.0); }
.element-feed.social          { background-color: rgba(254, 181, 61, 1.0); }
.element-feed.misuse          { background-color: rgba(24, 139, 205, 1.0); }
.element-feed.physical        { background-color: rgba(215, 42, 46, 1.0); }
.element-feed.error           { background-color: rgba(154, 154, 92, 1.0); }
.element-feed.unknown         { background-color: rgba(192,192, 192, 1.0); }







/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
